@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  background-color: hsl(217, 54%, 11%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: hsl(215, 51%, 70%);
    background-color: hsl(216, 50%, 16%);
    margin-bottom: 50px;
    box-shadow: 1px 1px 8px hsl(216, 50%, 16%);

}

h3 {
  font-weight: 600; 
  color:hsl(0, 0%, 100%);
  margin-bottom: 0px;
}
h3:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}

p {
  font-weight: 300;
  font-size: 15px;  
}

.p-footer{
    color:white;
}

.img-wrapper {
    position: relative;
    display: inline-block;
  }

  .hover-icon {
    visibility: hidden; /* Initially hide the icon */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-wrapper:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(178, 100%, 50%);
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
    pointer-events: none;
  }
  
  .img-wrapper:hover {
    cursor: pointer;
  }
  .img-wrapper:hover .hover-icon {
    cursor: pointer;
    z-index: 2;
    visibility: visible; 
  } 

  .img-wrapper img {
    display: block;
    width: 40px;
  }

.p-footer:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
.icon-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
}
.avatar{
    width: 30px;
     border-style: outset;
     border-color: white;
     border-radius: 100%;
     border-width: 2px;
     margin-right: 10px;
}

.avatar-wrapper{
   
    display: flex;
    align-items: center;

}
